body {
  /* background-image: url(img/illustrasiFikx.png); */
  position: relative;
  /* background-size: cover; */
  /* background-color: rgb(4, 49, 106, 0.4); */
}

.tebel-sedang {
  font-weight: bold;
}

.desc {
  max-width: 400px;
}

.judul1 {
  color: #ffffffd3;
}

.hr {
  height: 5px;
  width: 75px;
  border-radius: 50px;
  background-color: #ffffff;
}

.button {
  background-color: #ffffff;
  border: none;
  color: #04316a;
  padding: 10px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(21, 68, 131);
  color: #ffffff;
}

p {
  color: #ffffff;
}

.bg-custom {
  width: 80px;
  border: 2px solid white;
  color: white;
  margin-top: 4px;
  padding: 3px 60px;
  text-align: center;
  transition: 0.3s;
}

.bg-custom:hover {
  font-weight: 500;
  color: white;
}
